<section id="Home">
  <div class="container">
    <div class="box">
      <h1>Take your gaming to next level</h1>
      <p>We are a group of gamers catering to the needs of other gamers. Operating since 2010, we have been the virtual home for over 2000+ gamers and 50+ clans</p>
      <button class="btn-c2a">Visit our forums</button>
    </div>
    <div class="box">
      <img src="../../../assets/char.svg" class="char" alt="">
    </div>
  </div>
  <div class="sponsors">
    <p>Here are our amazing partners</p>
    <div class="imgset">
      <img src="../../../assets/teamspeak.svg" class="sponsor-img" alt="">
      <img src="../../../assets/teamspeak.svg" class="sponsor-img" alt="">
      <img src="../../../assets/teamspeak.svg" class="sponsor-img" alt="">
      <img src="../../../assets/teamspeak.svg" class="sponsor-img" alt="">
      <img src="../../../assets/teamspeak.svg" class="sponsor-img" alt="">
    </div>
  </div>
  <div class="content">
    <h3>This is how we support gamers</h3>
    <div class="cols">
      <div class="twocols">
        <div class="col-head">
          <h1>Forum</h1>
          <img src="../../../assets/forum_line.svg" alt="">
        </div>
        <div class="twoinone">
          <div class="img">
            <img src="../../../assets/icon bg.svg" alt="">
          </div>
          <div class="info">
            <p>We are a group of gamers catering to the needs of other gamers. Operating since 2010, we have been the virtual home for over 2000+ gamers and 50+ clans</p>
            <a href="">Click to Visit</a>
          </div>
        </div>
      </div>
      <div class="twocols">
        <div class="col-head">
          <h1>Teamspeak</h1>
          <img src="../../../assets/teamspeak_line.svg" alt="">
        </div>
        <div class="twoinone">
          <div class="img">
            <img src="../../../assets/icon bg-1.svg" alt="">
          </div>
          <div class="info">
            <p>We are a group of gamers catering to the needs of other gamers. Operating since 2010, we have been the virtual home for over 2000+ gamers and 50+ clans</p>
            <a href="">Click to connect</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="cards">
    <h3>Checkout some kickass stuff</h3>
    <div class="card-body">
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
      <div class="card">
        <img src="../../../assets/card-rectangle.svg" alt="" width="100%">
        <div class="container-card">
          <h4>Website's Marketplace</h4>
          <p>In our marketplace, we offer great deals on some of the most popular digital assets. Be sure to check it out.</p>
          <a href="">Visit Marketplace</a>
        </div>
      </div>
    </div>
  </div>
  <div class="contact">
    <h3>Contact Us</h3>
    <div class="contact-body">
      <div class="info">
        <p>If you have any queries, or just want to say hello then please fill out this contact form and our team will get back to you in approximately 48 hours.</p>
      </div>
      <div class="form">
        <form action="">
          <table style="text-align: -webkit-center !important;width: 100%;">
            <tr>
              <td><input placeholder="Name" type="text"></td>
              <td><input placeholder="E-mail" type="text"></td>
            </tr>
            <tr>
              <td colspan="2"><input placeholder="Subject Line" type="text"></td>
            </tr>
            <tr>
              <td colspan="2"><input placeholder="Enter your query here" class="message" type="text"></td>
            </tr>
          </table>
          <button class="btn-submit">Submit</button>
        </form>
      </div>
      <div id="empty" style="height: 221px;"></div>
    </div>
  </div>
</section>
